header {
    background-color: $c-charcoalBlack; 
    color: rgb(255, 255, 255);
    padding: 1em;
    h1 {
        margin: 0;
        padding: 0 0 0 140px;
        font-family: Roboto;
        font-weight: 700;
        font-size: 22px;
        width: 120px;
    
        background-image: url('logo.png');
        background-size: 128px auto;
        background-repeat: no-repeat;

        mix-blend-mode: screen;
        filter: contrast(10);
    }
}
